/* Styles for Tweet Form  */

main.container section.new-tweet{
  margin:3em auto;
  font-weight: 700;
}

.new-tweet form {
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin: 0.25em 0 1em 0;
}
/* error message */
.new-tweet #error-msg {
  color:#FF0000;
  border: 2px solid #FF0000;
  width: 300px;
  padding: 0.9em;
  display:none;
}

#tweet-text {
  font-weight: 300;
  font-style: normal;
  background: transparent;
  resize: none;
  border: 0 none;
  outline: none;
  border-bottom: 2px solid;
  margin: 0.25em 0 0.5em 0;
}

.new-tweet form div{
   display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.new-tweet form button {
  color:white;
  background-color: #4056A1;
  border:none;
}

/* To be added to text counter once the char limit is exceeded */
.exceeded-length{
  color:#FF0000;
}


